<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Carosello News</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Slider</title>
</head>
<body>

    <div id="app">

        <div class="container" >
            <div class="slider-wrapper" tabindex="0">

                <div class="item">
                    <img :src="slides[currentSelectedElement].image" :alt="slides[currentSelectedElement].title"/>
                    <div class="text">
                        <h3>{{ slides[currentSelectedElement].title }}</h3>
                        <p>
                            {{ slides[currentSelectedElement].text }}
                        </p>
                    </div>
                </div>

                <!-- v-if="currentSelectedElement < slides.length - 1" -->
                <div class="thumbs" >

                    <!-- ARROWS -->
                    <div class="prev" @click="previousThumb()"></div>
                    <div class="next" @click="nextThumb()"></div>

                    <!-- SIDE IMAGE -->
                    <div v-for="(image, index) in slides" class="thumb" :class="{'active': index === currentSelectedElement}">
                        <img :src="slides[index].image" alt="slides[index].title"/>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>
